<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    * {
      font-family: Arial,sans-serif;
    }
    h1 {
      color:darkgreen;
      font-size: medium;
    }


  </style>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<div th:fragment="menu"></div>


<div th:fragment="content">
  <div class="container mt-3 mb-3">
  <form th:action="@{/addProduct}" action="#" method="post" th:object="${product}">
    <div class="container mt-3 mb-3">
    <div th:insert="~{fragments::menu3}"></div>

    <div class="mb-3">
      <h1>
      <label for="productNameInput">Product Name</label>
      <input th:field="*{name}" type="text" class="form-control" id="productNameInput" aria-describedby="productNameHelp" placeholder="Enter product name">
      </h1>
    </div>

    <div class="mb-3">
      <h1>
      <label for="priceInput">Price</label>
      <input th:field="*{price}" type="text" class="form-control" id="priceInput" aria-describedby="priceHelp" placeholder="Enter product price">
      </h1>
    </div>

    <div class="mb-3">
      <h1>
      <label for="isbnInput">ISBN</label>
      <input th:field="*{isbn}" type="text" class="form-control" id="isbnInput" aria-describedby="isbnHelp" placeholder="Enter product isbn">
      </h1>
    </div>
    <button type="submit" class="btn btn-primary">Add product</button>
      <div th:insert="~{fragments::mainSite}"></div>
    </div>
  </form>

</div>
</div>
</body>
</html>