<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div th:fragment="mainFooter">
  <a href="http://localhost:8080/mainSite">WorldsFirstWebShop</a></div>
<div th:fragment="footer">
  <a href="http://localhost:8080/showInventory">Inventory</a></div>
<div th:fragment="footer1">
  <a href="http://localhost:8080/showProducts">Products</a></div>
<div th:fragment="footer2">
  <a href="http://localhost:8080/showProductForm">Add Products</a></div>
<div th:fragment="footer3">
  <a href="http://localhost:8080/addToInventory">Add Product to inventory</a></div>
<div th:fragment="menu">Products</div>
<div th:fragment="menu1">Inventory</div>
<div th:fragment="menu2">WorldsFirstWebShop</div>
<div th:fragment="menu3">Add Product</div>
<div th:fragment="menu4">Add Product to Inventory</div>

</body>
</html>